<!DOCTYPE html>
<html>

<head>
	{% include 'head-common.html' %}
</head>

<body>
  <div class="done">
    You predicted
    {{real_correct + fake_correct}}/{{real_predictions + fake_predictions}}
    ({{(real_correct + fake_correct)/max(real_predictions + fake_predictions, 1)
       * 100}}%) correctly.
    <div class="breakdown">
      <div class="item">
        Real: {{real_correct}}/{{real_predictions}}
              ({{real_correct/max(real_predictions, 1) * 100}}%)
      </div>
      <div class="item">
        Fake: {{fake_correct}}/{{fake_predictions}}
              ({{fake_correct/max(fake_predictions, 1) * 100}}%)
      </div>
    </div>
  </div>
</body>

</html>
