<!DOCTYPE html>
<html>

<head>
	{% include 'head-common.html' %}

	<!-- JS -->
	<script src="{{ url_for('static', filename='index.js')}}"></script>
</head>

<body>
	<div class="intro">
		<h1>The GAN Turing Test</h1>
		<p>
			Thank you for participating in the GAN turing test. The goal of this test is to quantify how realistic synthesized GAN images are. To do so, this website will show you {{sample_size}} real and {{sample_size}} fake (synthesized) images. It is your task
			to decide for each whether that image is real or fake. At the end of the experiment, you will see your personal score at this prediction task. Please record your score (e.g. take a screenshot) and report it to the curator of this experiment.
		</p>
	</div>
	<div class="examples">
    <h2>Examples</h2>
		<p>To give you an idea of what you will be looking at, here is a selection of {{real_examples | length}} real and {{fake_examples | length}} fake images.</p>
		<div class="images-container">
			<div class="images-row">
				{% for image in real_examples %}
				<img src="{{url_for('static', filename=image)}}" alt="?"> {% endfor %}
				<h3>Real Examples</h3>
			</div>
			<div class="images-row">
				{% for image in fake_examples %}
				<img src="{{url_for('static', filename=image)}}" alt="?"> {% endfor %}
				<h3>Fake Examples</h3>
			</div>
		</div>
	</div>
	<p id="go"><a href="/images">Go</a></p>
</body>

</html>
